<?xml version="1.0" encoding="UTF-8"?>
 
 

<suite name="SauceDemoSuite">

    <!-- ✅ Add this block -->
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="BuyProductTest">
        <classes>
            <class name="tests.BuyProductTest"/>
        </classes>
    </test>

</suite>
